body
{
background-image: url(/resources/logo.svg);

}

p
{
color:green;
}

input
{
color: #006eff;
}

fieldset
{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 8px green double;
    transform: translate(-50%, -50%);
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 0px blue;


    background-color: white;
}

a
{
color: #006eff;
}

form
{
    margin:auto;
    width: 500px;

}

legend
{
    color: #006eff;
}

