body{
background-color:rgb(113, 243, 145);
position: absolute;
    top: 50%;
    left: 50%;
    margin:auto;
    border: 8px green double;
    transform: translate(-50%, -50%);
    height:500px;
    width: 350px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 0px blue;
}

p
{
color:green;
}

.form.input
{
color: #006eff;
}

fieldset
{
background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:auto;
    border: 8px green double;
    transform: translate(-50%, -50%);
    width: 230px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 0px blue;
}

label
{
color: #006eff;
}

legend
{
    color: #006eff;
}

